*{
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    height: 50px;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background: #212121;
    z-index: 78;
}



.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 40px 13px 70px;
    margin: 0;
    list-style-type: none;
    
}

.menu .menu_link{
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 69;
}

.subheader .subheader_logo{
    display: block;
    margin-top: 17px;
    max-width: 100%;
}

.subheader .subheader_offisial{
    margin-top: 6px;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}
.subheader .subheader_call{
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}
.subheader .subheader_phone{
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: right;
}

.subheader .subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    border:none;
    
    
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo{
    min-height: 800px;
    background:url(../img/first_img_uber_bg.jpg) center center/ cover no-repeat;
    padding: 150px 0 186px 0;

}

.promo .promo_header{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
}
.promo .promo_subheader{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 23px;
}

.promo .promo_btn{
    display: block;
    margin: 110px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.information{
    padding: 71px 0 65px 0;
}

.label{
    width: 112px;
    height: 24px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;

    font-weight: 400;
    font-size: 11px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-top: 32px;
}

.information .info_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.information .info_block .info_round{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius:100%
}

.information .info_block .info_descr{
    width: 343px;
}
.information .info_block .info_descr .info_subtitle{
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    color: #1EACC7;
}

.information .info_block .info_descr .info_text{
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    color: #202020;
}







